 <div class="grid">
 <div class="">
  <% if @user.rentals != [] %>
    <h5>from readers</h5>
    <% @user.rentals.each do |rental| %>
      <div class="review-card border-bottom">
        <% if rental.reviews.find_by(is_reader: true) %>
          <p class="bookname" >Has read "<%= rental.book.title %>"</p>
          <% rental.reviews.find_by(is_reader: true).rating.times do %>
            <i class="far fa-star stars"></i>
          <% end %>
          <br>
          <%= rental.reviews.find_by(is_reader: true).content %>
          <br>
          <div class="card-review-info">
            <div class="px-2">
              <%= cl_image_tag rental.user.profile_picture.url(:thumnail), class: "avatar"%>
            </div>
            <div>
              <p class="username m-0 p-0"><%= rental.user.first_name %></p>
              <p class="user-since">Since <%= rental.user.created_at.year %> on Booklery</p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="">
  <% if @user.books != [] %>
    <h5>from hosts</h5>
    <% @user.books.each do |book| %>
      <% book.rentals.each do |rental| %>
        <% if rental.reviews.find_by(is_reader: false) %>
          <div class="review-card border-bottom">
            <p class="bookname">Has lend "<%= book.title %>"</p>
            <% rental.reviews.find_by(is_reader: false).rating.times do %>
              <i class="far fa-star stars"></i>
            <% end %>
            <br>
            <%= rental.reviews.find_by(is_reader: false).content %>
            <br>
            <div class="card-review-info">
              <div class="px-2">
                <%= cl_image_tag rental.book.user.profile_picture.url(:thumnail), class: "avatar"%>
              </div>
              <div>
                <p class="username m-0 p-0"><%= rental.book.user.first_name %></p>
                <p class="user-since">Since <%= rental.book.user.created_at.year %> on Booklery</p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
</div>
