
  <% if @user.rentals != [] %>
    <h4>review as reader</h4>
    <% @user.rentals.each do |rental| %>
      <div class="review-card border-bottom">
      <%= rental.book.title %> from <%= rental.book.user.first_name %> >>
      <%= rental.reviews.find_by(is_reader: true).rating %> <i class="far fa-star"></i>
      <br>
      <%= rental.reviews.find_by(is_reader: true).content %>
      </div>
    <% end %>
  <% end %>

  <% if @user.books != [] %>
    <h4>review as host</h4>
    <% @user.books.each do |book| %>
      <% book.rentals.each do |rental| %>
        <div class="review-card border-bottom">
        <%= book.title %> to <%= rental.user.first_name %> >>
        <%= rental.reviews.find_by(is_reader: false).rating %> <i class="far fa-star"></i>
        <br>
        <%= rental.reviews.find_by(is_reader: false).content %>
        </div>
      <% end %>
    <% end %>
  <% end %>
