<%= render'users/dashboard_header' %>
<div class="container container-kpi">
  <% if @no_books == 0 %>
    <div class="card-kpi " >
      <p>You are currently not hosting any books</p>
      <%= link_to "Change it now", new_book_path, class: "btn btn-outline-secondary m-3" %>
    </div>
  <% else %>
    <%= link_to dashboard_readings_path do  %>
      <div class="card-kpi">
        <p>
          N째 of books you are hosting
          <div class="bold-num"> <%= @no_books %> </div>
        </p>
      </div>
    <% end %>
  <% end %>
  <% if @no_readings != 0 %>
    <%= link_to dashboard_readings_path do  %>
      <div class="card-kpi ">
        <p>
          N째 of your total readings
          <div class="bold-num"><%= @no_readings %></div>
        </p>
      </div>
    <% end %>
  <% end %>
  <% if @no_hostings != 0 %>
    <%= link_to dashboard_hostings_path do  %>
      <div class="card-kpi">
        <p>
          N째 of your total hostings
          <div class="bold-num"><%= @no_hostings %></div>
        </p>
      </div>
    <% end %>
  <% end %>
  <% if @no_requests != [] %>
    <%= link_to dashboard_hostings_path do  %>
      <div class="card-kpi green">
        <p>
          N째 of new requests
          <div class="bold-num"><%= @no_requests.count %></div>
        </p>
      </div>
    <% end %>
  <% end %>
</div>


