<%= render'users/dashboard_header' %>
<div class="container my-3 d-flex justify-content-between">
  <% if @no_books != [] %>
    <div class="card my-3 p-3 text-center" style="width: 300px">
      <h4>
        Number of books you are hosting
        <h1> <%= @no_books %> </h1>
      </h4>
    </div>
  <% end %>
  <% if @no_readings != [] %>
    <div class="card my-3 p-3 text-center" style="width: 300px">
      <h4>
        Total readings
        <h1><%= @no_readings %></h1>
      </h4>
    </div>
  <% end %>
  <% if @no_hostings != [] %>
    <div class="card my-3 p-3 text-center" style="width: 300px">
      <h4>
        Total hostings
        <h1><%= @no_hostings %></h1>
      </h4>
    </div>
  <% end %>
  <% if @no_requests != [] %>
    <div class="card my-3 p-3 text-center" style="width: 300px">
      <h4>
        New requests
        <h1><%= @no_requests %></h1>
      </h4>
    </div>
  <% end %>
</div>


