<%= render'users/dashboard_header' %>
<div class="container my-3">
  <% @books.each do |book| %>
  <div class="card-rental p-3 my-3">
    <div class="container d-flex">
      <div class="mr-3"><%= cl_image_tag book.book_cover, style: "width: 100px"%></div>
        <div>
          <p><strong><%= book.title %></strong></p>
          <p><%= book.author %></p>
          <%= link_to "View", book_path(book), class: "btn btn-outline-secondary m-2" %>
          <%= link_to "Edit", edit_book_path(book), class: "btn btn-outline-secondary m-2" %>
          <%= link_to "Delete",@book, method: :delete,
                data: { confirm: 'Are you sure you want to delete this book?' },
                class: "btn btn-outline-secondary m-2" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
