<div class="container">
<div class="row">
  <div class="col-4 border">
    <div class="text-center border-bottom">

    </div>
    <p>INSERT_NUMBER Bewertungen</p>
  </div>

  <div class="col-8">
    <h1>Hello, I am  <%= @user.first_name %></h1>
    Since <%= @user.created_at.year %> on Bookery
    <h2>Info</h2>
    <p class="quotes">“</p>
    <p><%= @user.description %></p>
    <p class="quotes">-</p>
    <p>Lives in <%= @user.location %></p>
    <p>Speaks <%= @user.language %></p>

    <div class="border-bottom">
      All of <%= @user.first_name %>'s books
      <ol class="slides">
        <% @user.books.each do |book| %>
          <li> <%= book.title %> </li>
        <% end %>
      <ol>
    </div>

    <h2>INSERT_NUMBER reviews</h2>

    <%= render 'review' %>
  </div>
</div>
</div>
