<div class="profile">
<div class="container">
<div class="row p-5">
  <div class="card-white col-4 bg-white my-3 p-4">
    <div class="text-center border-bottom">
      <%= cl_image_tag @user.profile_picture.url(:thumnail), class: "avatar-large"%>
    </div>
    <p><i class="far fa-star pt-3"></i>
      <% counter = 0 %>
      <% @user.books.each do |book| %>
        <% book.rentals.each do |rental| %>
          <% counter += 1 if rental.reviews.find_by(is_reader: false) %>
        <% end %>
      <% end %>
      <% @user.rentals.each do |rental| %>
        <% counter += 1 if rental.reviews.find_by(is_reader: true) %>
      <% end %>
      <%= counter %> reviews</p>
  <p><i class="fas fa-book"></i>
  <%= @user.books.count %> books</p>
  <p><i class="fas fa-home"></i> Lives in <%= @user.location %></p>
  <p><i class="fas fa-language"></i> Speaks <%= @user.language %></p>
  </div>

  <div class="col-8 my-3">
    <div class="px-3">
    <h1 class="pb-3">Hello, I am  <%= @user.first_name %></h1>
    Since <%= @user.created_at.year %> on Booklery
    <h4 class="pt-3">Info</h4>
    <p><%= @user.description %></p>
  </div>
  </div>
  <br>
  <div class=row p-5>
    <div class="col-12 border-bottom my-3">
      <h4>All of <%= @user.first_name %>'s books</h4>
      <div class="grid">
        <% @user.books.each do |book| %>
          <div class="book-card-sm m-1">
            <div>
              <%= cl_image_tag book.book_cover, class: "img" %>
            </div>
            <div class="card-infos">
              <%= link_to book.title, book_path(book) %>
              <p class="user-since"> <%= book.author %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <h4><%= counter %> reviews</h4>
    <br>
  </div>
  <div class="row py-3">
    <%= render 'review' %>
  </div>
</div>
</div>
</div>
