<div class="profile">
<div class="container">
<div class="row p-5">
  <div class="col-4 border">
    <div class="text-center border-bottom">
      <%= cl_image_tag @user.profile_picture.url(:thumnail), class: "avatar-large"%>
    </div>
    <p><i class="far fa-star"></i>
      <% counter = 0 %>
      <% @user.books.each do |book| %>
        <% book.rentals.each do |rental| %>
          <% counter += 1 if rental.reviews.find_by(is_reader: false) %>
        <% end %>
      <% end %>
      <% @user.rentals.each do |rental| %>
        <% counter += 1 if rental.reviews.find_by(is_reader: true) %>
      <% end %>
      <%= counter %> reviews</p>
  <p><i class="fas fa-book"></i>
  <%= @user.books.count %> books</p>
  <p><i class="fas fa-home"></i> Lives in <%= @user.location %></p>
  <p><i class="fas fa-language"></i> Speaks <%= @user.language %></p>
  </div>

  <div class="col-8">
    <h1>Hello, I am  <%= @user.first_name %></h1>
    Since <%= @user.created_at.year %> on Booklery
    <h2>Info</h2>
    <p class="quotes">“</p>
    <p><%= @user.description %></p>
    <p class="quotes">-</p>
  </div>
  <br>
  <div class=row p-5>
    <div class="col-12 border-bottom">
      All of <%= @user.first_name %>'s books
      <ol class="slides">
        <% @user.books.each do |book| %>
          <li> <%= link_to book.title, book_path(book) %> </li>
        <% end %>
      </ol>
    </div>
    <h2><%= counter %> reviews</h2>
    <br>
  </div>
  <div class="row p-5">

    <%= render 'review' %>
  </div>
</div>
</div>
</div>
