<div class="container form my-4" style="width: 500px">
  <h3>Edit rental for <%= @rental.book.title %></h3>
  <%= simple_form_for(@rental) do |f| %>
    <%= f.input :start_date %>
    <%= f.input :return_date %>
    <%= f.select :status, Rental::STATUS_OPTIONS %>
    <%= f.submit class:"btn btn-secondary m-3" %>
  <% end %>
</div>
