<div class="container">
    <h3 class="m-3 p-3">Welcome to your dashboard,
      <% if current_user.first_name.nil? %>
        <%= current_user.email %>
      <% else %>
        <%= current_user.first_name %>
      <% end %>
    </h3>
<div class="container my-3 d-flex justify-content-between">
  <div class="" style="width: 400px">
    <%= render 'users/edit_profile' %>
  </div>
  <div class="container my-3" style="width: 600px">
    <h3>Your Readings</h3>
    <%= render partial: "rentals/rentals_list", collection: @rentals, as: :rental%>

    <% if @rentals_host != [] %>
      <h3>Your Hostings</h3>
      <%= render partial: "rentals/rentals_list", collection: @rentals_host, as: :rental%>
    <% end %>
  </div>
</div>
</div>
