<div class="d-flex justify-content-between">
  <div></div>
  <div class="card-white h-100" style="width: 400px">
    <h3>Rent Book</h3>
    <%= simple_form_for(@rental) do |f| %>
      <%= f.input :start_date %>
      <%= f.input :return_date %>
      <%= f.input :book_id, as: :hidden %>
      <%= f.submit "Request", class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>
