<div class="container my-3">
  <%= render 'shared/delete_book_btn' %>
  <%= render 'shared/edit_book_btn' %>
  <div class="d-flex justify-content-between">
    <%= render 'books/book_info' %>
    <%= render 'books/author_info' %>
  </div>
  <div class="d-flex justify-content-between">
    <div class="my-3">
      <h3>Reviews</h3>
      <% if @book.rentals != [] %>
        <% @book.rentals.each do |rental| %>
          <% if rental.reviews != [] %>
            <% rental.reviews.each do |review| %>
              <% next if review.is_reader = false %>
              <div class="review-card bg-white p-3 my-3" style="width: 600px">
                <div>
                  <% review.rating.times do %>
                    <i class="far fa-star"></i>
                  <% end %>
                </div>
                <%= review.content %>
              </div>
            <% end %>
          <% else %>
            <p>No reviews yet</p>
          <% end %>
         <% end %>
      <% else %>
        <p>No reviews yet</p>
      <% end %>
    </div>
    <div class="bg-white p-3 my-3" style="width: 400px">
      <h3>Availability</h3>
      <div>TODO: Calender to be implemented ;-)</div>
    </div>
  </div>
  <%= render'books/new_request' if current_user %>
</div>
